body {
	background-color:#333;
	color:#fff;
	width: 90%;
}

.game_title{
	text-align:center;
}

.err_massege{
	color: red;
}

.handChoices{
	display: flex;
	flex-direction: row;
  	justify-content: space-evenly;
}

.hand_SelectResult{
	display: flex;
	flex-direction: row;
  	justify-content: space-evenly;
}
.myHand{
	margin-right:0;

}
.pcHand{

}

.countRset{
	color:#fff;
}